<section class="home" id="home">

    <div class="slide-container active">
        <div class="slide">
            <div class="content">
                <h3>Le Petit Chaperon rouge</h3>
                <span >20 TND </span>
                
                
                <h2>Il était une fois une grande ville qui avait pris la place d’une forêt. 
                    Là où avaient prospéré des arbres s’étend aujourd’hui un cimetière de voitures tenu par un certain Monsieur Wolf. 
                    A proximité, Mamma Gina, la reine de la pizza, garait son petit camion. 
                    Un jour, elle jugea que sa fille était assez grande pour aller seule porter la pizza quotidienne 
                    à sa grand-mère malade. La petite fille se mit en route. Elle portait un anorak rouge qui lui valait 
                    le nom de Petit Chaperon Rouge, en souvenir d’une vieille histoire presque oubliée…</h2>
                
            </div>
            <div class="image">
                <img src="assets/chapron.jpg" class="shoe" alt="">
                
            </div>
        </div>
    </div>
<app-footer></app-footer>
</section>
