<app-top></app-top>
<section class="dishes" id="dishes">

    <h1 class="heading"> Nos <span>Livres</span> </h1>

    <div class="box-container">

        <div class="box">
            <a routerLink="livredescription" class="fas fa-eye"></a>
            <img src="assets/merkel.jpg" alt="">
            <h3>C'était Merkel</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>$20 TND</span>
            <a href="#" class="btn">Acheter</a>
        </div>

        <div class="box">
            <a routerLink="livredescription"  class="fas fa-eye"></a>
            <img src="assets/elonmusk.jpg" alt="">
            <h3>Elon Musk</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>$25 TND</span>
            <a href="#" class="btn">Acheter</a>
        </div>

        <div class="box">
            <a routerLink="livredescription"  class="fas fa-eye"></a>
            <img src="assets/deep.jpg" alt="">
            <h3>Deep Learning from Scratch</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>$25 TND</span>
            <a href="#" class="btn">Acheter</a>
        </div>

        <div class="box">
            <a routerLink="livredescription"  class="fas fa-eye"></a>
            <img src="assets/machine.jpg" alt="">
            <h3>Machine learning avec Python</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>$27 TND</span>
            <a href="#" class="btn">Acheter</a>
        </div>

        <div class="box">
            <a routerLink="livredescription"  class="fas fa-eye"></a>
            <img src="assets/chapron.jpg" alt="">
            <h3>Le petit chaperon rouge</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>$12 TND</span>
            <a href="#" class="btn">Acheter</a>
        </div>

        <div class="box">
            <a routerLink="livredescription"  class="fas fa-eye"></a>
            <img src="assets/mise.jpg" alt="">
            <h3>Les Misérables </h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>$18 TND</span>
            <a href="#" class="btn">Acheter</a>
        </div>

    </div>

</section>
