<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>100% Gratuit</h3>
            <p>Juste Acheter 3 Livres , Vous recevrez Coran Karim Gratuit </p>
            <p>Valable sur tous les livres. </p>
        </div>

        <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide"><img src="assets/Coran.jpg" alt=""></a>
            </div>
            <img src="assets/stand.png" class="stand" alt="">
        </div>

    </div>

</section>